@use '../../lib/service.scss' as s;



.header {
    @extend .section;
    background-color: s.color('backgroundDark');
}

.header_content {
    @extend .section_content;


    display: flex;
    padding: s.space(4) 0;
    justify-content: space-between;
}

.header_block {
    display: flex;
    gap: s.space(8);
    align-items: center;
}

.header_icon {
    @include s.click;
}

.header_link {
    // text-decoration: none;
    color: s.color('whiteLight');


    @include s.click;
}

.header_link {
    font-size: s.size('small');
}



.product_content {
    display: grid;
    gap: s.space(5);
    text-align: center;
    align-content: center;
}

.product_title {
    font-size: 56px;
    font-weight: 600;
    // color: s.color('fontDark');
}

// .product_title_iphone {
//     font-size: 56px;
//     font-weight: 600;
//     color: #000;
// }

.product_description {
    font-size: 28px;
}

.product_action {
    display: flex;
    align-items: center;
    gap: s.space(5);
    justify-content: center;

    @include s.click;
}

.product_link {
    @include s.linkAction;
}

.product {
    @extend .section;
    padding-top: s.space(20);
    padding-bottom: s.space(20);
    background-repeat: no-repeat;
    background-position: bottom center;
}

.product_big {
    max-height: 700px;
    height: 100vh;

    background-size: cover;

    @media all and (width < s.screen('tablet')) {
        background-size: 150%;

        max-height: 500px;
    }
}

.product_small {
    max-height: 580px;
    height: 100vh;

    background-size: cover;

    @media all and (width < s.screen('tablet')) {
        background-size: 150%;

        max-height: 500px;
    }
}

.product_dark {
    .product_title, .product_description {
        color: s.color('background');
    }

    background-color: #000;
}

.product_top {
    .product_content {
        align-content: flex-start;
    }
}

.product_bottom {
    .product_content {
        align-content: flex-end;
    }
}

.product_light {
    .product_title, .product_description {
        color: s.color('fontDark');
    }

    background-color: #fff;
}

$productImage:(
    'iphone_pro' '/img/iphone_pro.png' #000,
    'iphone' '/img/iphone.png' #fafafa,
    'iwatch' '/img/iwatch.png' #000,
    'trade_in' '/img/trade_in.png' #fbfbfd,
    'conference' '/img/conference.png' #000,
    'ipad' '/img/ipad.png',
    'small_business' '/img/small_business.png',
    'gift' '/img/gift.png',
    'card' '/img/card.png'
);

@each $class, $url, $color in $productImage {
    .product_#{$class} {
        background-image: url(#{$url});
        background-color: $color;
    }
}

// .product_iphone_pro {
//     background-image: url('/img/iphone_pro.png');
// }

// .product_iphone {
//     background-image: url('/img/iphone.png');
// }

.product_small {
    .product_title {
        font-size: 40px;
    }
}

.product_description {
    font-size: 20px;
}

.footer_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}

.footer {
    display: flex;
    width: 1200px;
    padding: 39px 0px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer_link {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}
